<!DOCTYPE HTML>
<html>
<head>
  <title>Add a Product!</title>
</head>
<body>
<form action="/" method="post">
  <input type="text" name="product_name" placeholder="Enter Product Name">
  <input type="submit" value="Create Product">
</form>
</body>
</html>