<!DOCTYPE HTML>
<html>
<head>
  <title>Welcome to Products!</title>
</head>
<body>
<h1>Welcome!</h1>
<a href='/add'>Add a Product</a>
<ul>
  <% products.each do |product| %>
  <li><%= product %></li>
    <% end %>
</ul>
</body>
</html>
